# Trigger this workflow only to manually create a dart/flutter release; this should only be used
# in extraordinary circumstances, as dart/flutter releases are normally created automatically as
# part of the automated release workflow.

name: release-manual
on:
  workflow_dispatch:
    inputs:
      ref:
        description: 'Reference (tag / SHA):'
        required: true
        default: ''
      package:
        description: 'Package'
        required: true
        default: ''
        type: choice
        options:
        - dart
        - flutter
jobs:
  release:
    runs-on: ubuntu-latest
    env:
     dir: ${{ github.event.inputs.package == 'flutter' and 'packages/flutter' or 'packages/dart' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.ref }}
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@v1
      - name: Resolve packages
        run: dart pub get --directory ${{ env.dir }}
      - name: Analyze
        run: dart analyze --fatal-infos ${{ env.dir }}
      - name: Check lint
        run: dart format --output=none --set-exit-if-changed ${{ env.dir }}
      - name: Publish package (dry-run)
        working-directory: ${{ env.dir }}
        run: dart pub publish --dry-run
      - name: Publish package
        working-directory: ${{ env.dir }}
        run: dart pub publish --force
